extends layout

block content
    #level.ab
        .container
            .row
                .offset-md-2.col-md-8
                    .row
                        .col.text-center
                            h1 ABOUT
                    .row
                        .col.about
                            p Sherlock Holmes is a brain storming investigation game of the mysterious death of John, Sarah and David. In this game your team will be working as a private detective group. Investigate crime scenes for hidden crime clues, interrogate witnesses and find evidences to catch the killer. The clues will leads to witnesses and a step closer to the killer. The team which finds out the real killer first wins the game.
                            p The game has two stages
                            p Stage 1 : The World of Sherlock
                            p This is an online selection stage for stage two. This stage consists of different cases (levels). By the end of last case your team will be selected for the second stage at College of Engineering Adoor on March 3, 2018.
                            p Stage 2 : The second stage is the real case solving of mysterious death of John, Sarah and David.

                            //Aaroh link , fb page link insta link. ,eesa

                    .row
                        //form(action="/play" method="POST")
                        //    .form-group
                        //        input.form-control(type="text" placeholder="Answer" name="option")
                        //    .form-group
                        //        input.btn.btn-default.pl-button(type="submit" value="SUBMIT")