extends layout

block content
    #level
        .container
            .row
                .offset-md-3.col-md-6.text-center
                    .row
                        .col.text-center.head-3
                            h1 CONGRATULATIONS !
                            h1 YOU HAVE COMPLETED
                            h1 CASE 5 !
                    .row
                        .col
                            h4 Stay tuned for CASE 6 of
                                strong  EXPERT LEVEL !!!
                    .row
                        //form(action="/play" method="POST")
                        //    .form-group
                        //        input.form-control(type="text" placeholder="Answer" name="option")
                        //    .form-group
                        //        input.btn.btn-default.pl-button(type="submit" value="SUBMIT")