doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/dist/main.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.top
        nav.navbar.navbar-expand-lg.navbar-light
          .container
            a.navbar-brand(href="/")
              img.fluid-img(src="/images/logo.png")
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
              span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
              ul.navbar-nav.ml-auto
                li.nav-item: a.nav-link(href="/rules", class=(currentPath.startsWith('/rules') ? 'active' : '')) Rules
                li.nav-item: a.nav-link(href="/about", class=(currentPath.startsWith('/about') ? 'active' : '')) About
                li.nav-item: a.nav-link(href="#", class=(currentPath.startsWith('/hints') ? 'active' : '')) Hints
                if user
                  li.nav-item: a.nav-link(href="/logout", class=(currentPath.startsWith('/logout') ? 'active' : '')) Logout
                //else
                //  li.nav-item: a.nav-link(href="/register", class=(currentPath.startsWith('/register') ? 'active' : '')) Register
                //  li.nav-item: a.nav-link(href="/login", class=(currentPath.startsWith('/login') ? 'active' : '')) Log In

    block messages
      if locals.flashes
        .inner.text-center
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content

    block scripts
      script(src="http://code.jquery.com/jquery-3.3.1.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
      script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
      script(src="/dist/App.bundle.js")
