extends layout

block content
    h1 LEVEL 2
    form.form(action="/" method="POST")
        p this is a question
        label(for="option") Answer
        input(type="text" name="option")
        input(type="submit" value="submit")