extends layout

block content
    #level
        .container
            .row
                .offset-md-3.col-md-6.text-center
                    .row
                        .col.head_1
                            h1 CASE 9
                    .row.head_2
                        .col
                            img.img-fluid(src="/images/c9.jpg")
                        .col
                            img.img-fluid(src="/images/c91.jpg")
                    .row.head_3
                        .col
                            img.img-fluid(src="/images/cs92.png")
                    .row
                        form(action="/play" method="POST")
                            .form-group
                                input.form-control(type="text" placeholder="Answer" name="option")
                            .form-group
                                input.btn.btn-default.pl-button(type="submit" value="SUBMIT")