extends layout

block content
    h1 LEVEL 3
    form.form(action="/play" method="POST")
        p this is a question
        label(for="option") Options
        input.form-control(type="text" name="option")
        input.form-control(type="submit" value="submit")