extends layout

block content
    #level
        .container
            .row
                .offset-md-2.col-md-8.text-center
                    .row
                        .col.head_1
                            h1 CASE 3
                    .row.head_2
                        .col
                            img.img-fluid(src="/images/p7.jpg")
                        .col
                            img.img-fluid(src="/images/p8.jpg")
                    .row
                        form(action="/play" method="POST")
                            .form-group
                                input.form-control(type="text" placeholder="Answer" name="option")
                            .form-group
                                input.btn.btn-default.pl-button(type="submit" value="SUBMIT")