extends layout

block content
    #level
        .container
            .row
                .offset-md-3.col-md-6.text-center
                    .row
                        .col.head_1
                            h1 CASE 8
                    .row.head_2
                        .col
                            .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(src="https://www.youtube.com/embed/g7_J8A_cNVU" frameborder="0"  allowfullscreen)
                    .row.head_3
                        .col
                            img.img-fluid(src="/images/c8.jpg")
                    .row
                        form(action="/play" method="POST")
                            .form-group
                                input.form-control(type="text" placeholder="Answer" name="option")
                            .form-group
                                input.btn.btn-default.pl-button(type="submit" value="SUBMIT")