extends layout

block content
    #level
        .container
            .row
                .offset-md-3.col-md-6
                    .row
                        .col.about
                            h1 RULES
                            p In this stage, pictures relating to real crimes happened around the world will be provided. So, all you have to do is:
                            p Find out which crime is referred to
                            p Type into the given box which word/words is/are related to the pictures.
                            p How to enter answer in the box ?
                            p 1. All the word or words should be in lowercase, without space or any other symbols.
                            p Eg: if the answer is Mahindra Singh Dhoni , enter it as mahindrasinghdhoni.
                            p 2. Dates should be entered as DDMMYYYY without space or any other symbols.
                            p Eg: if the answer is 26/02/1996, enter it as 26021996.
                            p Note : Difficulty of the game will increase level by level.
                            p Welcome to the World of Sherlock !
                    .row
                        .col
                            a(href="/play")
                                button.btn.btn-default.pl-button(type="button") NEXT
                        //form(action="/play" method="POST")
                        //    .form-group
                        //        input.form-control(type="text" placeholder="Answer" name="option")
                        //    .form-group
                        //        input.btn.btn-default.pl-button(type="submit" value="SUBMIT")